ErrorDocument 404 /ptcprint/publico/error.php
ErrorDocument 403 /ptcprint/publico/errorc.php
Options -Indexes
Options +FollowSymLinks
RewriteEngine on
RewriteBase /ptcprint/
RewriteCond %{REQUEST_FILENAME} !-f
##PARA EL PUBLICO
RewriteRule ^inicio.php$ publico/index.php [L,QSA,NC]
RewriteRule ^cotizarcliente.php$ publico/cotizarcliente.php [L,QSA,NC]
RewriteRule ^compras.php$ publico/carrito.php [L,QSA,NC]
RewriteRule ^banner.php$ publico/banner.php [L,QSA,NC]
#RewriteRule ^kids.php$ publico/kids.php [L,QSA,NC]
#RewriteRule ^favoritos_cliente.php$ publico/favoritos_cliente.php [L,QSA,NC]
#RewriteRule ^misfacturas.php$ publico/misfacturas.php [L,QSA,NC]
RewriteRule ^miperfil.php$ publico/dashboardc.php [L,QSA,NC]
RewriteRule ^error.html$ publico/error.html [L,QSA,NC]
RewriteRule ^comentarios.php$ publico/mascomentarios.php [L,QSA,NC]
##PARA EL PRIVADO
RewriteRule ^private.php$ privado/index.php [L,QSA,NC]
RewriteRule ^admin.php$ privado/admin.php [L,QSA,NC]
RewriteRule ^carritos.php$ privado/carritos.php [L,QSA,NC]
RewriteRule ^configuraciones.php$ privado/configuraciones.php [L,QSA,NC]
RewriteRule ^contactos.php$ privado/contactos_proveedor.php [L,QSA,NC]
RewriteRule ^cotizaciones.php$ privado/cotizaciones.php [L,QSA,NC]
RewriteRule ^equipos.php$ privado/equipos.php [L,QSA,NC]
RewriteRule ^empresa.php$ privado/empresa.php [L,QSA,NC]
RewriteRule ^fotos.php$ privado/fotos_productos.php [L,QSA,NC]
RewriteRule ^mobra.php$ privado/mano_obra.php [L,QSA,NC]
RewriteRule ^productos.php$ privado/productos.php [L,QSA,NC]
RewriteRule ^usuarios.php$ privado/usuarios.php [L,QSA,NC]
RewriteRule ^tiposproductos.php$ privado/tipo_productos.php [L,QSA,NC]
RewriteRule ^tiposcontactos.php$ privado/tipo_contactos.php [L,QSA,NC]
RewriteRule ^permisos.php$ privado/permisos.php [L,QSA,NC]
RewriteRule ^medidas.php$ privado/medidas_producto.php [L,QSA,NC]
RewriteRule ^proveedores.php$ privado/proveedores.php [L,QSA,NC]
RewriteRule ^redessociales.php$ privado/redessociales.php [L,QSA,NC]
RewriteRule ^edituser.php$ privado/edituser.php [L,QSA,NC]
RewriteRule ^perfil.php$ privado/perfil.php [L,QSA,NC]
RewriteRule ^comentarios.php$ privado/comentarios.php [L,QSA,NC]
RewriteRule ^primero.php$ privado/primero.php [L,QSA,NC]