@font-face{
    font-family: Roboto Condensed;
    src: url(../fonts/RobotoCondensed-Regular.ttf) format('truetype');
}
@font-face{
    font-family: Didact;
    src: url(../fonts/DidactGothic.ttf) format('truetype');
}
@font-face{
    font-family: Arimo;
    src: url(../fonts/Arimo-Regular.ttf) format('truetype');
}
@font-face{
    font-family: Titillium Web;
    src: url(../fonts/TitilliumWeb-Regular.ttf) format('truetype');
}
@font-face{
    font-family: Oxygen;
    src: url(../fonts/Oxygen-Regular.ttf) format('truetype');
}
@font-face{
    font-family: Roboto Light;
    src: url(../fonts/RobotoCondensed-Light.ttf) format('truetype');
}
@font-face{
    font-family: Ubuntu Light;
    src: url(../fonts/Ubuntu-Light.ttf) format('truetype');
}

*{
    font-family: 'Ubuntu Light';
}
body{
    background-image: url(../img/bg-bk.jpg);
    background-size: 100%;
}
.estira{
    max-width: 100%;
    min-width: 80%;
    max-height: 112px;
    min-height: 80%;
}
.btn-scrud{
    background-color: #fafafa;
    border: solid 2px #01579b;
    border-radius: 7px 7px 7px 7px;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease 0s;
    -moz-transition: opacity 0.5s ease 0s;
    -webkit-transition: background-color 0.5s ease-out 0s;
    -moz-transition: background-color 0.5s ease-out 0s;
    padding: 5px 8px;
    font-size: 18px;
    line-height: 1.33;
    margin-left: 5px;
}
.btn-table, .btn-table-pr{
    background-color: #fafafa;
    border: solid 2px #01579b;
    border-radius: 7px 7px 7px 7px;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease 0s;
    -moz-transition: opacity 0.5s ease 0s;
    -webkit-transition: background-color 0.5s ease-out 0s;
    -moz-transition: background-color 0.5s ease-out 0s;
    width: 100%;
    font-size: 18px;
    line-height: 1.55;
    margin-left: 5px;
}
button:hover{
    color: #01579b;
    -webkit-transition: color 0.3s ease-out 0s;
    -moz-transition: color 0.3s ease-out 0s;   
}
.btn-scrud:hover{
    color: #616161;
    background-color: #eceff1;
    -webkit-transition: background-color 0.5s ease-out 0s;
    -moz-transition: background-color 0.5s ease-out 0s;
}
.iconos-acc{
    color: white;
    -webkit-transition: color 0.5s ease-out 0s;
    -moz-transition: color 0.5s ease-out 0s;
    cursor: pointer;
}
.iconos-acc:hover{
    color: #f50057;
    -webkit-transition: color 0.5s ease-out 0s;
    -moz-transition: color 0.5s ease-out 0s;
}
button span.icon-button{
    color: black;
    -webkit-transition: color 0.5s ease-out 0s;
    -moz-transition: color 0.5s ease-out 0s;   
}
button:hover span.icon-ag{
    color: #00c853;
    -webkit-transition: color 0.3s ease-out 0s;
    -moz-transition: color 0.3s ease-out 0s;   
}
button:hover span.icon-ed{
    color: #ff6f00;
    -webkit-transition: color 0.3s ease-out 0s;
    -moz-transition: color 0.3s ease-out 0s;   
}
button:hover span.icon-el{
    color: red;
    -webkit-transition: color 0.3s ease-out 0s;
    -moz-transition: color 0.3s ease-out 0s;   
}
button:hover span.icon-nv{
    color: #01579b;
    -webkit-transition: color 0.3s ease-out 0s;
    -moz-transition: color 0.3s ease-out 0s;   
}

#menu-backend{
    width: 100%;
    height: 60px;
    background-color: #0091ea;
    position: fixed;
    z-index: 999;
}
.texto-mb{
    margin-top: 18px;
    color: white;
    font-size: 1.3em;
}
.table-bk{
    width: 100%;
    table-layout: auto;
    margin-bottom: 100px;
    font-size: 1.1em;
}
.table-bk th,td{
    padding: 16px;
    border-bottom: solid #e0e0e0 1px;
}
.tb-heading{
    background-color: #0288d1;
    color: white;
}
.labels{
    font-size: 1.1em;
}
#login-p{
    background-color: #e0e0e0;
    background-size: 1366px 768px;
    background-repeat: repeat-x;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}
#formulariol{
    background-color: #ffffff;
}
/*#login-p{
    background-color: #0288d1;
    width: 100%;
    position: absolute;
    height: 100%;
}*/
.overlay{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
}
h1,h2,h3,h4,h4,h6{
    color: white;
}
.h-negro{
    color: black;
}
.login-header{
    color: white;
    font-size: 2.5em;
}
.labels-blanco{
    color: white;
    font-size: 1.5em;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
div.scroll-div{
    max-height: 400px;
    overflow-x: scroll;
}
.btn-send{
    margin-top: 30px;
}
.scroll-div::-webkit-scrollbar{
    width:8px;
    background-color:white;
} 
.scroll-div::-webkit-scrollbar-thumb{
    background-color:#cccccc;
    border-radius:10px;
}
.scroll-div::-webkit-scrollbar-thumb:hover{
    background-color:#b0bec5;
    border:1px solid #b0bec5;
}
.scroll-div::-webkit-scrollbar-thumb:active{
    background-color:#b0bec5;
    border:1px solid #b0bec5;
} 
.estira2{
    max-width: 100%;
    min-width: 80%;
    max-height: 70px;
    min-height: 70px;   
}
.imgmenu{
    cursor: pointer;
}